# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/AssetStoreTools*

# Visual Studio / Rider
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/
*.sln.iml

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build files
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.ipa

# Crash reports
sysinfo.txt
crash.dmp
error.log
output_log.txt

# Gradle cache
.gradle/
build/

# Addressables
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.bundle
/[Aa]ssets/StreamingAssets/aa/*